In [10]:
# Initial imports

import os
import requests
import pandas as pd
import numpy as np
import datetime as dt
import alpaca_trade_api as tradeapi
import seaborn as sns
from dotenv import load_dotenv
from MCForecastTools import MCSimulation
from pathlib import Path

import matplotlib.pyplot as plt

from pandas_datareader import data as pdr

%matplotlib inline

In [41]:
start= pd.to_datetime('2017-08-01')
end=pd.to_datetime('2022-09-01')

stockData = pdr.get_data_yahoo('BNB-USD', start, end)
stockData

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2017-11-09,2.174230,1.893940,2.053140,1.990770,19192200,1.990770
2017-11-10,2.069470,1.644780,2.007730,1.796840,11155000,1.796840
2017-11-11,1.917750,1.614290,1.786280,1.670470,8178150,1.670470
2017-11-12,1.672800,1.462560,1.668890,1.519690,15298700,1.519690
2017-11-13,1.735020,1.517600,1.526010,1.686620,12238800,1.686620
...,...,...,...,...,...,...
2022-08-28,283.628326,276.250885,277.803436,276.250885,758285305,276.250885
2022-08-29,286.331024,272.805969,276.280609,286.221405,1009161525,286.221405
2022-08-30,291.663086,277.074463,286.215271,281.425354,979620743,281.425354
2022-08-31,289.771118,278.078796,281.456482,279.238098,952486877,279.238098
2022-09-01,280.221313,271.472809,279.251343,278.417236,954919263,278.417236

In [ ]:
# Extract the past 5 years' data from btc_data, time range starts from '2017-09-01' and end '2022-08-01' totally 60 months
btc_data_slice = btc_data['2017-09-01':'2022-08-01']
btc_data_slice

In [ ]:

# Group by year and month and get the first price of each month using first() function
btc_inv_price=btc_data_slice.groupby([btc_data_slice.index.year, btc_data_slice.index.month]).first()
btc_inv_price
# Group by year and month and get

In [ ]:
# Calculate the total amount acquried for the $100 monthly investment

amount = 0
total_amount = 0
i = 0

btc_inv_price.reset_index(inplace=True)
btc_inv_price

while i<60:
    price = btc_inv_price.iloc[i,2]
    amount = round(100/price,4)
    total_amount = round((total_amount + amount),4)
    print(f'Year:{btc_inv_price.iloc[i,0]}, Month:{btc_inv_price.iloc[i,1]}, Pirce:{price}, Amount Acquired:{amount}, Amount Totally Acquired:{total_amount}')
    i += 1

dca_value = total_amount * price
print(f'DCA acquired cryptos over the 5-year period valued at:{dca_value} ')

# investment over 5 years total at $100*60 = $6000
dca_profit = dca_value - 6000
print(f'DCA profit over the 5-year period :{dca_profit} ')

In [ ]:
# A Lump Sum Investment Return Calculation


btc_daily_return = btc_data_slice.pct_change()
btc_cumprod = (btc_daily_return+1).cumprod()-1
btc_cumprod.dropna(inplace=True)
btc_cumprod

In [ ]:
initail_amount = 6000

cum_return_btc = btc_cumprod.loc['2022-08-01',:]

cum_return_btc

In [ ]:
lump_sum_profit = initail_amount * cum_return_btc

print(f'cum_return_btc:{cum_return_btc}')

print(f'compound_return_btc:{lump_sum_profit}')

In [ ]:
# profit comparison between lump sum Vs. DCA

print('*****************************************************************************\n')


print(f'Initial investment of a lump sum of 6000 Vs. Monthly Investment of $100 over 5 years period Comparison\n')

print(f'DCA profit: {dca_profit}')

print(f'Lump Sum profit: {lump_sum_profit}')


print('\n*****************************************************************************')